<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaocq.mybatis.mapper.ParamMapper">
	
	<resultMap type="com.xiaocq.domain.TwoAttributes" id="department">
		<result property="id" column="dept_id"/>
		<result property="name" column="dept_name"/>
	</resultMap>
	
	<resultMap type="com.xiaocq.domain.TwoAttributes" id="major">
		<result property="id" column="major_id"/>
		<result property="name" column="major_name"/>
	</resultMap>
	
	<resultMap type="com.xiaocq.domain.TwoAttributes" id="grade">
		<result property="id" column="grade_id"/>
		<result property="name" column="grade_name"/>
	</resultMap>
	
	<select id="getDepartment" resultMap="department">
		select * from param_department
	</select>
	
	<select id="getMajor" resultMap="major" parameterType="int">
		select major_id, major_name from param_major where depart_id = #{departId}
	</select>
	
	<select id="getGrades" resultMap="grade">
		select * from param_grade
	</select>
	
	
</mapper>